
{% extends "store/base.html" %}
{%block content%}
{% load static %}
<style>
    #color-text{
        color: white !important;
    }
</style>
    <div class="container">
        <h2 style="color: white;" class="mt-5">Delete Ad</h2>
        <p style="color: white;">Are you sure you want to delete the ad "{{ object }}"?</p>

        <form method="post" class="mt-3">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url 'profile' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
{% endblock %}